{
	admin off
	auto_https off
	skip_install_trust

	log {
		level {$CADDY_LOG_LEVEL}
		format json {
			time_format "rfc3339_nano"
		}
	}
}

{$CADDY_SITE_ADDRESS} {
	log

	handle /config {
		header Content-Type "application/json"

		respond 200 {
			body ` {
				"apiUrl": "{$PUBLIC_API_URL}",
				"notificationsUrl": "{$PUBLIC_NOTIFICATIONS_URL}",
				"auth": {
					"url": "{$PUBLIC_AUTH_URL}",
					"realm": "{$PUBLIC_AUTH_REALM}",
					"clientId": "{$PUBLIC_AUTH_CLIENT_ID}"
				}				,
				"profileUrl": "{$PUBLIC_PROFILE_URL}",
				"dashboardUrl": "{$PUBLIC_DASHBOARD_URL}"
			}			`
		}
	}

	handle {
		root * {$CADDY_ROOT_DIR}

		try_files {path} /app.html

		file_server {
			precompressed br gzip
		}
	}
}
