{
	admin off
	auto_https off
	skip_install_trust
}

:443 {
	tls /etc/caddy/certs/public.crt /etc/caddy/certs/private.key

	@api {
		host www.hobbydemos.com
		path /api/*
	}
	handle @api {
		uri strip_prefix /api
		reverse_proxy http://todo-api
	}

	@app {
		host www.hobbydemos.com
	}
	handle @app {
		reverse_proxy http://todo-app
	}

	@centrifugo {
		host centrifugo.hobbydemos.com
	}
	handle @centrifugo {
		reverse_proxy http://centrifugo:8000
	}

	@auth {
		host auth.hobbydemos.com
	}
	handle @auth {
		reverse_proxy http://keycloak:8080
	}

	@grafana {
		host grafana.hobbydemos.com
	}
	handle @grafana {
		reverse_proxy http://grafana:3000
	}
}
