{
	email {$CADDY_TLS_EMAIL}

	log {
		level {$CADDY_LOG_LEVEL}
		format json {
			time_format "rfc3339_nano"
		}
	}
}

*.{$CADDY_TLS_DOMAIN} {
	log

	encode gzip

	tls {
		dns godaddy {$CADDY_TLS_GODADDY_TOKEN}
	}

	@api {
		host www.{$CADDY_TLS_DOMAIN}
		path /api/*
	}
	handle @api {
		uri strip_prefix /api
		reverse_proxy http://todo-api
	}

	@app {
		host www.{$CADDY_TLS_DOMAIN}
	}
	handle @app {
		reverse_proxy http://todo-app
	}

	@centrifugo {
		host centrifugo.{$CADDY_TLS_DOMAIN}
	}
	handle @centrifugo {
		reverse_proxy http://centrifugo:8000
	}

	@auth {
		host auth.{$CADDY_TLS_DOMAIN}
	}
	handle @auth {
		reverse_proxy http://keycloak:8080
	}

	@grafana {
		host grafana.{$CADDY_TLS_DOMAIN}
	}
	handle @grafana {
		reverse_proxy http://grafana:3000
	}
}
