{
  "apiUrl": "${VITE_API_URL}",
  "notificationsUrl": "${VITE_NOTIFICATIONS_URL}",
  "auth": {
    "url": "${VITE_AUTH_URL}",
    "realm": "${VITE_AUTH_REALM}",
    "clientId": "${VITE_AUTH_CLIENT_ID}"
  },
  "profileUrl": "${VITE_PROFILE_URL}",
  "dashboardUrl": "${VITE_DASHBOARD_URL}"
}
