{
	admin off
	skip_install_trust

	log {
		level {$CADDY_LOG_LEVEL}
		format json {
			time_format "rfc3339_nano"
		}
	}
}

*.{$CADDY_DOMAIN} {
	log

	encode gzip

	tls internal

	@api {
		host www.{$CADDY_DOMAIN}
		path /api/*
	}
	handle @api {
		uri strip_prefix /api
		reverse_proxy http://todo-api
	}

	@app {
		host www.{$CADDY_DOMAIN}
	}
	handle @app {
		reverse_proxy http://todo-app
	}

	@centrifugo {
		host centrifugo.{$CADDY_DOMAIN}
	}
	handle @centrifugo {
		reverse_proxy http://centrifugo:8000
	}

	@auth {
		host auth.{$CADDY_DOMAIN}
	}
	handle @auth {
		reverse_proxy http://keycloak:8080
	}

	@grafana {
		host grafana.{$CADDY_DOMAIN}
	}
	handle @grafana {
		reverse_proxy http://grafana:3000
	}

	@alloy {
		host alloy.{$CADDY_DOMAIN}
	}
	handle @alloy {
		reverse_proxy http://alloy:12345
	}

	@faro {
		host faro.{$CADDY_DOMAIN}
	}
	handle @faro {
		reverse_proxy http://alloy:12347
	}

	@temporal {
		host temporal.{$CADDY_DOMAIN}
	}
	handle @temporal {
		reverse_proxy http://temporal-ui:8080
	}

	@minio {
		host minio.{$CADDY_DOMAIN}
	}
	handle @minio {
		reverse_proxy http://minio:9001
	}
}
