{
	admin off
	auto_https off
	skip_install_trust
}

:80 {
	@apicors {
		host {$CADDY_DOMAIN}
		path /api/*
		method OPTIONS
	}
	handle @apicors {
		header Access-Control-Allow-Origin "*"
		header Access-Control-Allow-Methods "GET, POST"
		header Access-Control-Allow-Headers "Authorization, Content-Type"
		respond 200
	}

	@api {
		host {$CADDY_DOMAIN}
		path /api/*
	}
	handle @api {
		uri strip_prefix /api
		reverse_proxy http://todo-api {
			header_down Access-Control-Allow-Origin "*"
		}
	}

	@app {
		host {$CADDY_DOMAIN}
	}
	handle @app {
		reverse_proxy http://todo-app
	}

	@centrifugo {
		host centrifugo.{$CADDY_DOMAIN}
	}
	handle @centrifugo {
		reverse_proxy http://centrifugo:8000
	}

	@auth {
		host auth.{$CADDY_DOMAIN}
	}
	handle @auth {
		reverse_proxy http://keycloak:8080
	}

	@grafana {
		host grafana.{$CADDY_DOMAIN}
	}
	handle @grafana {
		reverse_proxy http://grafana:3000
	}

	@temporal {
		host temporal.{$CADDY_DOMAIN}
	}
	handle @temporal {
		reverse_proxy http://temporal-ui:8080 {
			header_up Authorization "x"
		}
	}

	@minio {
		host minio.{$CADDY_DOMAIN}
	}
	handle @minio {
		reverse_proxy http://minio-console:9090
	}
}
